@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --desaturated-red: hsl(0, 36%, 70%);
    --Soft-Red: hsl(0, 93%, 68%);
    --Dark-Grayish-Red: hsl(0, 6%, 24%);
}
html,
body{
    width: 100%;
    height: 100%;
    background-image: url("images/bg-pattern-desktop.svg");
    background-repeat: no-repeat; 
    background-size: cover;
    font-family: 'Josefin Sans', sans-serif;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.section{
    /* width: 100%; */
    display: grid;
    grid-template-columns: 10% 20% 30% 35%;
    grid-template-rows: 65px 35px 132px 188px 38px 72px 52px 60px 158px; 
}
.header-logo{
    grid-column: 2 / 4;
    grid-row: 2 / 10;
}
.header2{
    width: 21.875rem;
    font-size: 40px;
    grid-column: 2 / 4;
    grid-row: 4 / 10;
}
.pink-header{
    color: var(--desaturated-red);
    font-weight: 100;
    letter-spacing: 1rem;
}
.black-header{
    letter-spacing: 1rem;
}
.article{
    font-size: 16px;
    width: 27.5rem;
    grid-column: 2 / 4;
    grid-row: 6 / 10;
}
.pink-paragraph{
    color: var(--desaturated-red);
    line-height:30px;
    
}
.aside {    
    grid-column-start: 4;
    grid-column-end: 6;
    background-image: url(images/hero-desktop.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .35s ease-out;
    grid-row-start: 1;
    grid-row-end:15;
}
.form{
    width: 23.75rem;
    position: relative;
    grid-column: 2 / 4;
    grid-row: 8 / 10;
}
.input{
    background-color: var(--linear1);
    width: 23.75rem;
    height: 3.5rem;
    border-radius: 56px;
    padding-left: 1.25rem;
    padding-top: .3438rem;
    border: 1px solid var(--desaturated-red); 
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: .875rem;
}
.input::placeholder {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.05rem;
    font-weight: 300;
    color: hsla(0, 36%, 70%, 0.9);
}
.input:focus {
    outline: 2px solid var(--Soft-Red);
    outline-offset: -2px;
}
.button {
    box-shadow: 0 15px 25px hsla(0, 43%, 76%, 0.483);
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%) 100%);
    width: 6.25rem;
    position: absolute; 
    height: 3.5rem;
    border-radius: 3.5rem;
    margin-left: -3rem;
    border: none;
    cursor:pointer;
}
.msg{
    /* position: absolute; */
    grid-column: 2 / 4;
    grid-row: 9 / 10;
    color: var(--Soft-Red);
    font-size: small;
    padding: .9375rem;
}
.icon-error{
    position: absolute;
    right: 3.4375rem;
    top: 1rem;
}

.hidden{
    display: none;
}

/* MEDIA QUERY */
@media screen and (max-width: 900px) {

    body {
        height: auto;
    }

    .container {
        background-image: none;
    }

    .section {
        width: 100%;
        height: 100%;
        grid-template-columns: 30px 1fr 30px;
        grid-template-rows: 30px 25px 30px 250px 65px 115px 25px 80px 40px 50px 82px;
        justify-items: center;
    }

    .header-logo {
        grid-column: 2;
        grid-row: 2;
        justify-self: flex-start;
    }

    .header_logo img {
        width: 100px;
        align-self: flex-start;
    }

    .aside {
        width: 100%;
        grid-column: 1 / -1;
        grid-row: 4 / 5;
        background-image: url(images/hero-mobile.jpg);
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
    }

    .header2 {
        width: 100%;
        max-width: 400px;
        font-size: 1.6rem;
        line-height: 2.63rem;
        letter-spacing: 1rem;
        grid-column: 2;
        grid-row: 6;
        text-align: center;
    }

    .article {
        max-width: 330px;
        width: 100%;
        grid-row: 8;
        text-align: center;
        line-height: 1.35rem;
        font-size: .9rem;
    }

    .form {
        width: 310px;
        grid-row: 10;
    }

    .input {
        width: 100%;
        padding-right: 6rem;
        height: 48px;
    }

    .input::placeholder {
        font-size: .9rem;
    }

    .button {
        width: 65px;
        height: 48px;
        top: 1px;
    }

    .icon_error {
        position: absolute;
        right: 75px;
        top: 12px;
    }

}
